{
  box-sizing: border-box;
}

html{
  height: 100%;
  background: linear-gradient(#615dad, #ffc8da);
  color: white;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
}

h1{
  font-family: "Lobster";
  font-size: 40px;
}


img{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container{
display: flex;
justify-content: center;
}

.window{
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #283e50;
  max-width: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 50px;
  font-size: 17px;
}

.copy{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.button{
height: 60px;
width: 400px;
color: white;
font-size: 18px;
border: none;
}

a{
color: white;
text-decoration: none;
}

.rules {
  background-color: #1fcca4;
}
  
.rules:hover {
  background-color:#1cbb96;
}

.play {
  background-color: #0197f6;
}

.play:hover {
  background-color: #0090e9;
}