h1{
  font: "Lobster";
  align-self: center;
}

body{
  display: flex;
  position: relative;
  color: white;

}
.background{
  background: rgb(97,93,173);
  background: linear-gradient(180deg, rgba(97,93,173,1) 0%, rgba(255,200,218,1) 100%);
}

.container{
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  background-color: #283e50;
  max-width: 300px;
  border-radius: 5px;
}

.copy{
  display:flex;
  padding: 20px;
  justify-content: center;
  align-self: baseline;
}

.button{
height: 30px;
}

.secondary{
  background-color: #1fcca4;
}

.primary {
  background: #0197f6;
}