h1{
  font: "Lobster Regular";
  align-self: center;
}

body{
  display: flex;
  position: relative;
  justify-content: center;
  color: white;
    
}
.background{
background-size: cover;
background-image: linear-gradient(#615dad, #ffc8da);
}

.container{
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  background-color: #283e50;
  max-width: 300px;
}